/*
  Webpack gave us a hard time integrating css into the build process.
  Neither copying the css file into our public folder nor injecting css into
  the html template was supported by webpack.

  We got no help in excerice class for this issue. Therefore the css file is left here for production
*/
.square {
  width: 100px;
  height: 80px;
  float: left;
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 20px;
}

.board {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

.left {
  border-right: solid 2px;
}

.right {
  border-left: solid 2px;
}

.top {
  border-bottom: solid 2px;
}

.bottom {
  border-top: solid 2px;
}

.turn {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}
button {
  padding: 5px 10px;
  margin-top: 30px;
}

.score {
  padding-top: 30px;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
}

p {
  display: inline-block;
  font-size: 14px;
  padding: 0px 8px;
}