
.square {
  width: 100px;
  height: 80px;
  float: left;
  padding-top: 20px;
}

.board {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

.left {
  border-right: solid 2px;
}

.right {
  border-left: solid 2px;
}

.top {
  border-bottom: solid 2px;
}

.bottom {
  border-top: solid 2px;
}